@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
html, body
    height 100%
    width 100%

body
    font-family 'Raleway',sans-serif
    position relative

.in-page
    min-height 520px

.main
    position relative

a
    color #1b5a7c

a:hover, a:focus
    color #1b5a7c

.btn-cyan
    background-color #1b5a7c
    color #fff
    &:hover
        color #fff
        opacity 0.9

.form-control
    &:focus
        border-color #1b5a7c
        box-shadow 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6)
        outline 0 none

.min-height
    min-height 80px

.normal-screen
    background-image url(http://cdn.wallpapersafari.com/18/27/v6NwdS.jpg)
    background-position center
    background-repeat no-repeat
    background-attachment fixed
    background-size cover
    -moz-background-size cover
    -webkit-background-size cover
    position fixed
    top 0
    bottom 0
    right 0
    left 0
    text-align left

a
    color: white;

.login
    margin-top 15%
    width 320px
    color #fff
    .login-form
        text-align left
    label
        color #fff
    .sign-btn
        background #1b5a7c
        input
            &.btn
                background #1b5a7c
                border-color #1b5a7c
                color #fff
                width 180px
        a
            text-decoration none
    .checkbox
        margin-top 20px
        margin-bottom 20px
    .forgot
        display inline-block
        margin 20px 0

.login-form
    .input-group
        width: 100%
        .form-control
            background rgba(30, 30, 53, 0.55);
            height 44px
            color #ddd
            &::-moz-placeholder
                color #FFFFFF
                opacity 0.3
        .input-group-addon
            background none
            .glyphicon
                color #1b5a7c