.container
  position: absolute
  background-color: #cad895
  height: 100%
  width: 100%

.row
  border-bottom: 1px solid #82a788

.column
  padding: 5%
  padding-top: 2%

  h2
    width: 100%
    text-align: center