div.container-fluid.text-center
  h2 SERVICES
  br
  div.row
    div.col-sm-4
        a(
            href="show-order"
        )
            span.glyphicon.glyphicon-list-alt
            h4 View Order
    div.col-sm-4
      a(
            href="register-order"
        )
            span.glyphicon.glyphicon-floppy-save
            h4 Register Order
    div.col-sm-4
      a(
            href="confirm-orders"
        )
            span.glyphicon.glyphicon-check
            h4 Confirm Order
  br
  hr
