.container {
  float: left
  margin: 3%
}

th {
  background: #CFC
}

tr {
  text-align center
  padding: 1%
  margin: 1%
}

tr:nth-child(even) {
  background: #FFF
}

tr:nth-child(odd) {
  background: #CCC
}
