h3 Enter the bill number to find it
hr
input(
    type='text',
    name='search',
    placeholder='Bill ID',
    [(ngModel)]='billId'
    )

button.btnPush.btnLightBlue(
    (click)='searchBill()'
    ) Search