body


    .wrapper
        
        h3 Daily            
            input(type='date', name='bday')
        br
        
        label.switch
            input(
                type="checkbox",          
                [(ngModel)]='switchIO',
                (click)='changeSwitch()'                
            )
            div.slider.round
            br
            h4.text-center(
               *ngIf="switchIO==false"
            ) Output

            h4.text-center(
               *ngIf="switchIO==true"
            ) Input
            
        br
                
        .columns
            ul.price
                li.header(style='background-color:#80bfb0') # Bill 
                li 1
                li 2
                li 3
                li 4
                
                                
        .columns
            ul.price
                li.header(style='background-color:#58b7a1') Destinatario                
                li A
                li B
                li C
                li D
                
                
        .columns
            ul.price
                li.header(style='background-color:#04a580') Monto (S/.)              
                li 1000
                li 3000
                li 50000
                li 1000
                li.grey 5500 
                


            
