body


    .wrapper
        
        h3 Daily            
            input(type='date', name='bday')
        br
        
        label.switch
            input(
                type="checkbox",          
                [(ngModel)]='switchIO',
                (click)='changeSwitch()'                
            )
            div.slider.round
            br
            h4.text-center(
               *ngIf="switchIO==false"
            ) Output

            h4.text-center(
               *ngIf="switchIO==true"
            ) Input
       
        br
       
        table(style='width:100%')
            tr  
                th $
                th # Bill
                th Subtotal
                th Total 
            tr(*ngFor='let destinata1 of destinatary; let i = index')
                th {{i+1}}
                th {{ orders[i].billId }}
                th {{ destinata1.subtotal }}
                th {{ destinata1.total }}
             
              
        //.columns
            ul.price
                li.header(style='background-color:#80bfb0') # Bill   
                li 
                                                               
        //.columns
            ul.price
                li.header(style='background-color:#58b7a1') Destinatario                
                li a               
                                
        //.columns
            ul.price
                li.header(style='background-color:#04a580') Monto (S/.)              
                li 1000               
                li.grey 5500 
                


            
