body

  .wrapper
    h1.pageTitle Ingreso de datos b&aacute;sicos
    .container  

      form
          fieldset
            legend 
              h3.articleTitle Factura
            table
              tr
                td
                  h3.pageSubtitle Fecha:

                td
                  input(type='date', name='FechaLlegada')                
              tr
                td
                  h3.pageSubtitle Subtotal:                          
                td
                  | S/.
                  input(name='Subtotal', value='', type='number', min='0.00', max='10000.00', step='0.01')                       
              tr
                td
                  h3.pageSubtitle IGV:                           
                td
                  input(type='number', name='IGV', value='')
                  | %                     
              tr
                td
                  h3.pageSubtitle  Total:                         
                td
                  | S/.
                  input(name='Subtotal', value='', type='number', min='0.00', max='10000.00', step='0.01')               

          fieldset
            legend 
              h3.articleTitle Pedido
            table
              tr
                td
                  h3.pageSubtitle Control de bultos:                           
                td
                  label.switch
                    input(type='checkbox', name='ControlBultos')                           
                    .slider.round                     
              tr
                td
                  h3.pageSubtitle Fecha de llegada:                           
                td
                  input(type='date', name='FechaLlegada')            
              tr
                td
                  h3.pageSubtitle Recibido:                         
                td
                  label.switch
                    input(type='checkbox', name='Recibido')                      
                    .slider.round            
              tr
                td
                  h3.pageSubtitle  Con retraso:              
                td
                  label.switch
                    input(type='checkbox', name='ConRetraso')                            
                    .slider.round                     
              tr
                td
                  h3.pageSubtitle Detalle:                         
                td
                  table
                    tr
                        td 
                          h4 name Product
                        td 
                          h4 Lots
                        td 
                          h4 Units Per Lot

                    tr(*ngFor='let row of rowData')
                        td 
                            select(name='products')
                              option(value='') product1  
                              option(value='') product2  
                        td 
                            input(type='number', name='')
                        td {{row.unitsPerLot}}                
                    button((click)='addRow()') Add a row
                        


        
          fieldset
            legend 
              h3.articleTitle Gu&iacute;a de remisi&oacute;n
            table
              tr
                td
                  h3.pageSubtitle Motivo:                          
                td
                  input(type='text', name='Motivo', value='')
              tr
                td
                  h3.pageSubtitle Partida:                         
                td
                  input(type='text', name='Partida', value='')                  
              tr
                td
                  h3.pageSubtitle Llegada:                  
                td
                  input(type='text', name='Llegada', value='')                      
              tr
                td
                  h3.pageSubtitle Destinatario:                        
                td
                  input(type='text', name='Destinatario', value='')                       
              tr
                td
                  h3.pageSubtitle Empresa de transporte:                          
                td
                  input(type='text', name='EmpresaTransporte', value='')                       
              tr
                td
                  h3.pageSubtitle Placa del Veh&iacute;culo:                         
                td
                  input(type='text', name='PlacaVehiculo', value='')                         
              tr
                td
                  h3.pageSubtitle Peso total:                          
                td
                  input(type='number', name='Peso', value='', min='0.00', step='0.01')
                td             
                  input(type='text', name='Unidad', value='')

          button.button.btnPush.btnBlueGreen(type='submit', title='Button push blue/green') Confirmar

