div.container
    h2 Bill
    div.row
        div.col-sm-3
            p Date: 
        div.col-sm-6
            p {{bill.timestamp}}
    div.row
        div.col-sm-3
            p Subtotal: 
        div.col-sm-6
            p {{bill.subtotal}}
    div.row
        div.col-sm-3
            p IGV: 
        div.col-sm-6
            p {{bill.iva}}
    div.row
        div.col-sm-3
            p Total: 
        div.col-sm-6
            p {{bill.total}}

div.container
    h2 Order
    div.row
        div.col-sm-3
            label.switch
                p Bulk control            
        div.col-sm-2
            input(
                type="checkbox"
                checked
            )
    div.row
        div.col-sm-3
            label.switch
                p Received
        div.col-sm-2
            input(
                type="checkbox"
                checked
            )
    
div.container
    h2 Remision guide
    div.row
        div.col-sm-3
            p Reason: 
        div.col-sm-6
            p sflkñsdjf
    div.row
        div.col-sm-3
            p Departure: 
        div.col-sm-6
            p sflkñsdjf
    div.row
        div.col-sm-3
            p Llegada:
        div.col-sm-6
            p sflkñsdjf
    div.row
        div.col-sm-3
            p Destinatario:
        div.col-sm-6
            p sflkñsdjf
    div.row
        div.col-sm-3
            p Enterprise:
        div.col-sm-6
            p sflkñsdjf
    div.row
        div.col-sm-3
            p Plate of vehicle:
        div.col-sm-6
            p sflkñsdjf
    div.row
        div.col-sm-3
            p Total weight:
        div.col-sm-6
            p sflkñsdjf kg

div.detail
    div.row
        div.col-sm-6
            p Name
        div.col-sm-3
            p Quantity
        div.col-sm-3
            p Unit
    div.row(
    )