body

    .wrapper
        h3 Daily
        
        h5 Incomes
        label.switch
            input(type='checkbox')
            .slider.round
        h6 Expenses

        
        table
            tr  
                td Bill number
                td Expenses
            tr
                td 
                td 
            
